.myMenu .button {
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0,0,0,0;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.myMenu .button:hover, .choiced {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
}
.myMenu, .myMenu .button{
    -fx-background-color: #939393;/*,
    linear-gradient(from 0% 50% to 100% 50%, #939393 0%,#939393 60%, black 80%);

*/
}
.tlacitkaVysl .button, .specialButton  {
    -fx-background-color: #939393;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}
.tlacitkaVysl .button:hover, .specialButton:hover  {
    -fx-background-color:
        /*rgba(0,0,0,0.08),
        linear-gradient(#6a6a6a, #4a4a4a),*/
            linear-gradient(#939393 0%, #939393 70%, #515151 100%);
}
#popOutMenu{
    -fx-font-size: 13px;
}